extends layout

block content

  h1 著者: #{author.name}
  p #{author.lifespan}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') 書籍
    if author_books.length
      dl
        each book in author_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p この著者の書籍はありません。

  hr
  p
    a(href=author.url+'/delete') 著者を削除
  p
    a(href=author.url+'/update') 著者を更新
