extends layout

block content

  h1 #{title}: #{book.title}

  p #[strong 著者: ]
    a(href=book.author.url) #{book.author.name}
  p #[strong 概要:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong ジャンル: ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,&nbsp;

  hr

  if book_instances.length

    p #[strong この本を削除する前に、以下のコピーを削除してください。]

    div(style='margin-left:20px;margin-top:20px')

      h4 コピー一覧

      each book_copy in book_instances
        hr
        if book_copy.status=='Available'
          p.text-success #{book_copy.status}
        else if book_copy.status=='Maintenance'
          p.text-danger #{book_copy.status}
        else
          p.text-warning #{book_copy.status}
        p #[strong 印刷:] #{book_copy.imprint}
        if book_copy.status!='Available'
          p #[strong 返却期限:] #{book_copy.due_back}
        p #[strong ID:]
          a(href=book_copy.url) #{book_copy._id}

  else
    p 本当にこの本を削除しますか？

    form(method='POST')
      div.form-group
        input#id.form-control(type='hidden',name='id', value=book._id )

      button.btn.btn-primary(type='submit') 削除
