extends layout

block content

  h1= title

  p #[strong 本当にこの蔵書を削除しますか？]

  div(style="margin-left:20px")

    p #[strong ID]: #{bookinstance._id}

    p #[strong 書名: ]
      a(href=bookinstance.book.url) #{bookinstance.book.title}

    p #[strong 出版情報:] #{bookinstance.imprint}

    p #[strong 状態: ]
      if bookinstance.status=='Available'
        span.text-success #{bookinstance.status}
      else if bookinstance.status=='Maintenance'
        span.text-danger #{bookinstance.status}
      else
        span.text-warning #{bookinstance.status}

    if bookinstance.status!='Available'
      p #[strong 返却期限:] #{bookinstance.due_back_formatted}

  form(method='POST')
    div.form-group
      input#id.form-control(type='hidden',name='id', value=bookinstance._id )

    button.btn.btn-primary(type='submit') 削除