extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='title') タイトル:
      input#title.form-control(type='text', placeholder='本の名前' name='title' required value=(undefined===book ? '' : book.title) )
    div.form-group
      label(for='author') 著者:
      select#author.form-control(name='author' required)
        option(value='') --著者を選択してください--
        for author in authors
          if book
            if author._id.toString()===book.author._id.toString()
              option(value=author._id selected) #{author.name}
            else
              option(value=author._id) #{author.name}
          else
            option(value=author._id) #{author.name}
    div.form-group
      label(for='summary') 概要:
      textarea#summary.form-control(placeholder='概要' name='summary' required)= undefined===book ? '' : book.summary
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text', placeholder='ISBN13' name='isbn' value=(undefined===book ? '' : book.isbn) required)
    div.form-group
      label ジャンル:
      div
        for genre in genres
          div(style='display: inline; padding-right:10px;')
            if genre.checked
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id, checked)
            else
              input.checkbox-input(type='checkbox', name='genre', id=genre._id, value=genre._id)
            label(for=genre._id) &nbsp;#{genre.name}
    button.btn.btn-primary(type='submit') 送信

  if errors
    ul
      for error in errors
        li!= error.msg
