extends layout

block content

  h1 ジャンル: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') 本
    if genre_books.length
      dl
        each book in genre_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p このジャンルには本がありません。

  hr
  p
    a(href=genre.url+'/delete') ジャンルを削除
  p
    a(href=genre.url+'/update') ジャンルを更新