extends layout

block content
  h1= title
  p ようこそ、#[em LocalLibrary] へ。これは Mozilla Developer Network のチュートリアル例として作成された、とても基本的な Express ウェブサイトです。

  h1 動的コンテンツ

  p この図書館には次のレコード数があります:

  ul
    li #[strong 本:] !{book_count}
    li #[strong 蔵書数:] !{book_instance_count}
    li #[strong 在庫数:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
